h1{
    text-align: left;
    background: olive;
    color: white;
    padding: 20px;
    width: 20%;

}

#profilepic {
  width: 300px;
}

header {
    padding: 20px;
    background:white;
    border-bottom: 1px solid black;

  }

  h2{
    text-align: left;
    background: white;
    color: olive;
    padding: 10px;
  }

  body {
    font-size: 18px;
    line-height: 32px;
    color: black;
  }

  #context {
      background: bisque;
      float: left;
      margin-left: 20px;
      padding: 50px;
      vertical-align: center;
      
      
  }