

  .header-1 {
    padding: 20px;
    margin-left: 10%;
    margin-right: 80%;
    text-align: left;
    background: olive;
    color: white;
    width: 20%


  }

  h2{
    text-align: left;
    background: white;
    color: olive;
    padding: 10px;
    
  }

  body {
    font-size: 18px;
    line-height: 32px;
    color: black;
  }

  #context {
      background: bisque;
      float: left;
      margin-left: 20px;
      padding: 50px;
      vertical-align: center;
      
      
  }